## Syntax Highlighting Colors
set -gx fish_color_autosuggestion '555'  'brblack'
set -gx fish_color_cancel -r
set -gx fish_color_command --bold
set -gx fish_color_comment red
set -gx fish_color_cwd green
set -gx fish_color_cwd_root red
set -gx fish_color_end brmagenta
set -gx fish_color_error brred
set -gx fish_color_escape 'bryellow'  '--bold'
set -gx fish_color_history_current --bold
set -gx fish_color_host normal
set -gx fish_color_match --background=brblue
set -gx fish_color_normal normal
set -gx fish_color_operator bryellow
set -gx fish_color_param cyan
set -gx fish_color_quote yellow
set -gx fish_color_redirection brblue
set -gx fish_color_search_match 'bryellow'  '--background=brblack'
set -gx fish_color_selection 'white'  '--bold'  '--background=brblack'
set -gx fish_color_user brgreen
set -gx fish_color_valid_path --underline

set -gx EDITOR nvim
set -gx VISUAL nvim
{{- if eq .chezmoi.os "darwin" }}
set -gx HOMEBREW_INSTALL_FROM_API 1
{{- end }}
{{- if eq .chezmoi.os "linux" }}
set -gx PIP_CACHE_DIR /data/.cache/pip
set -gx HF_HOME /data/.cache/huggingface
set -gx TORCH_HOME /data/.cache/torch
{{- end }}
set -g fish_greeting
{{- if eq .chezmoi.os "darwin" }}
if status is-login
    contains /Users/fissium/.local/bin $PATH
    or set PATH /Users/fissium/.local/bin $PATH
end
if status is-login
    contains /opt/homebrew/bin $PATH
    or set PATH /opt/homebrew/bin $PATH
end
{{- end }}
{{- if eq .chezmoi.os "linux" }}
if status is-login
    contains /home/fissium/.local/bin $PATH
    or set PATH /home/fissium/.local/bin $PATH
end
{{- end }}

# Install Starship
starship init fish | source

{{- if eq .chezmoi.os "linux" }}
# >>> mamba initialize >>>
# !! Contents within this block are managed by 'mamba init' !!
set -gx MAMBA_EXE "/home/fissium/.local/bin/micromamba"
set -gx MAMBA_ROOT_PREFIX "/home/fissium/.config/micromamba"
$MAMBA_EXE shell hook --shell fish --root-prefix $MAMBA_ROOT_PREFIX | source
# <<< mamba initialize <<<
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
# >>> mamba initialize >>>
# !! Contents within this block are managed by 'mamba init' !!
set -gx MAMBA_EXE "/Users/fissium/.local/bin/micromamba"
set -gx MAMBA_ROOT_PREFIX "/Users/fissium/.config/micromamba"
$MAMBA_EXE shell hook --shell fish --root-prefix $MAMBA_ROOT_PREFIX | source
# <<< mamba initialize <<<
{{- end }}
