{{ if ne .chezmoi.os "linux" }}
.config/code-flags.conf
.config/electron-flags.conf
.config/electron25-flags.conf
.bashrc
.config/Code - OSS/
{{ end }}
README.md
{{ if ne .chezmoi.os "darwin" }}
**/Library
.config/kitty/macos-launch-services-cmdline
{{ end }}
