{{ if ne .chezmoi.os "linux" }}
.config/fish/functions/ss-down.fish
.config/fish/functions/ss-up.fish
.config/code-flags.conf
.config/electron-flags.conf
.config/electron25-flags.conf
.bashrc
.config/Code - OSS/
{{ end }}
README.md
{{ if ne .chezmoi.os "darwin" }}
**/Library
{{ end }}
