# default apps
export EDITOR="nvim"
export VISUAL="nvim"

# default folders
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"
export XDG_CACHE_HOME="$HOME/.cache"

{{- if eq .chezmoi.os "linux" }}
export OPENER="xdg-open"
export GOPATH="/projects/go"
export GOMODCACHE="/projects/go/pkg/mod"

typeset -U path PATH
path=(~/.local/bin $GOPATH/bin $path)
export PATH
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
export OPENER="open"
export GOPATH="${HOME}/Projects/go"
export HOMEBREW_INSTALL_FROM_API=1

typeset -U path PATH
path=($HOME/.local/bin /opt/homebrew/bin $GOPATH/bin $path)
export PATH
{{- end }}

# set the localization
export LC_ALL=en_US.UTF-8

# cleaning up the home folder
export ZDOTDIR="$XDG_CONFIG_HOME/zsh"

# colors!
export MANPAGER="nvim +Man!"
