# BEGIN_KITTY_THEME
# Snazzy
include current-theme.conf
# END_KITTY_THEME

{{- if eq .chezmoi.os "linux" }}
# BEGIN WINDOW DECORATION
hide_window_decorations no
wayland_titlebar_color #2E3440
# END WINDOW DECORATION
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
# BEGIN WINDOW DECORATION
macos_titlebar_color system
# END WINDOW DECORATION
{{- end }}

# BEGIN_KITTY_SHELL
{{ if eq .chezmoi.os "darwin" -}}
shell /opt/homebrew/bin/fish
{{ end -}}
{{ if eq .chezmoi.os "linux" -}}
shell fish
{{ end -}}
# END_KITTY_SHELL

# BEGIN_FONTS
{{ if eq .chezmoi.os "darwin" -}}
font_family      FiraCode Nerd Font
bold_font        auto
{{ end -}}
{{ if eq .chezmoi.os "linux" -}}
font_family      FiraCode Nerd Font
bold_font        FiraCode Nerd Font Reg
{{ end -}}
italic_font      auto
bold_italic_font auto
font_size        14.0
# END_FONTS

# START TERM SIZE
remember_window_size  no
{{- if eq .chezmoi.os "linux" }}
initial_window_width  165c
initial_window_height 54c
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
initial_window_width  128c
initial_window_height 35c
{{- end }}

# START TAB BAR
tab_bar_edge bottom
# END TAB BAR

# START VIM LIKE NAVIGATION
map kitty_mod+k neighboring_window up
map kitty_mod+j neighboring_window down
map kitty_mod+h neighboring_window left
map kitty_mod+l neighboring_window right
# END VIM LIKE NAVIGATION

# START CHANGE LAYOUT
map kitty_mod+space next_layout
# END CHANGE LAYOUT

# START RESIZE PANE
map ctrl+left resize_window narrower
map ctrl+right resize_window wider
map ctrl+up resize_window taller
map ctrl+down resize_window shorter
# END RESIZE PANE
