local null_ls = require "null-ls"

local b = null_ls.builtins

local home = vim.fn.expand "$HOME"

local sources = {

  -- Lua
  b.formatting.stylua,
  -- Python
  b.formatting.ruff_format,
  b.formatting.reorder_python_imports,
  -- Bash
  b.formatting.shfmt,
  b.code_actions.shellcheck,
  -- YAML, Markdown
  b.formatting.prettierd,
  -- Docker
  b.diagnostics.hadolint,
  -- TOML
  b.formatting.taplo,
}

null_ls.setup {
  debug = true,
  sources = sources,
}
