local null_ls = require "null-ls"

local b = null_ls.builtins

local sources = {

  -- Lua
  b.formatting.stylua,
  b.diagnostics.luacheck,
  -- Python
  b.formatting.black,
  b.formatting.reorder_python_imports,
  -- Bash
  b.formatting.shfmt,
  b.code_actions.shellcheck,
  -- YAML
  b.formatting.yq,
  -- Markdown
  b.formatting.remark,
  {{- if eq .chezmoi.os "linux" }}
  -- Docker
  b.diagnostics.hadolint,
  {{- end }}
  -- Go
  b.formatting.goimports,
  b.formatting.gofumpt,
  -- Fish
  b.formatting.fish_indent,
  b.diagnostics.fish,
  
}

null_ls.setup {
  debug = true,
  sources = sources,
}
