local M = {}

M.treesitter = {
  ensure_installed = {
    "vim",
    "lua",
    "markdown",
    "markdown_inline",
    "python",
    "dockerfile",
    "toml",
    "yaml",
    "json",
    "jsonc",
    "bash",
    "fish",
    "gitignore".
  },
  indent = {
    enable = true,
    -- disable = {
    --   "python"
    -- },
  },
}

M.mason = {
  ensure_installed = {
    -- lua stuff
    "lua-language-server",
    "stylua",

    -- python stuff
    "pyright",
    "ruff-lsp",
    "ruff",
    "reorder-python-imports",

    -- bash stuff
    "bash-language-server",
    "shellcheck",
    "shfmt",
    
    -- yaml, markdown stuff
    "prettierd",
    "yaml-language-server",
    {{- if eq .chezmoi.os "linux" }}
    -- docker stuff
    "hadolint",
    "docker-compose-language-service",
    "dockerfile-language-server",
    {{- end }}

    -- toml stuff
    "taplo",
  },
}

-- git support in nvimtree
M.nvimtree = {
  git = {
    enable = true,
  },

  renderer = {
    highlight_git = true,
    icons = {
      show = {
        git = true,
      },
    },
  },
}

return M
